.start-quiz {
    background-color: pink;
    margin: auto;
    display: block;
    margin-top: 75px;
    font-size: 20px;
}

h4 {
    text-align: center;
    margin: 150px;
}

#main {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

#timer {
    float: right;
    font-size: 25px;
}

.back,
.clear {
    background-color: pink;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

button {
    background-color:pink;
    text-align: center;
    font-size: 20px;

}

li {
    background-color: gray;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

header {
    background-color: lightcyan;
    height: 75px;
}